<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="documentExtractService" type="Baza.DocumentExtractService.Configuration.DocumentExtractorSection,Baza.DocumentExtractService" />
  </configSections>
  <documentExtractService>
    <documentExtractors>
      <documentExtractor name="txt">
        <documentExtensions>
          <add value=".txt" />
        </documentExtensions>
        <extractors>
          <add value="TextExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="html">
        <documentExtensions>
          <add name="htm" value=".htm" />
          <add name="html" value=".html" />
        </documentExtensions>
        <extractors>
          <add value="HtmlExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="word">
        <documentExtensions>
          <add name="doc" value=".doc" />
          <add name="rtf" value=".rtf" />
          <add name="mht" value=".mht" />
        </documentExtensions>
        <extractors>
          <add name="AsposeWord" value="AsposeWordExtractor" />
          <add name="MultipartRelated" value="MultipartRelatedExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="docx">
        <documentExtensions>
          <add value=".docx" />
        </documentExtensions>
        <extractors>
          <add value="DocxExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="pdf">
        <documentExtensions>
          <add value=".pdf" />
        </documentExtensions>
        <extractors>
          <add name="1" value="PdfExtractor" />
        </extractors>
      </documentExtractor>
    </documentExtractors>
    <compressors>
      <size name="small" width="50" height="50" type="Portrait" />
      <size name="middle" width="100" height="100" type="Portrait" />
    </compressors>
    <extractedFilters>
      <filter name="ReplaceSymbol"/>
    </extractedFilters>
    <replacements>
      <replace origin="&#07;" replace="" />
      <replace origin="example@exampleabc.com" />
    </replacements>
  </documentExtractService>
  <appSettings>
    <add key="tempFileDir" value="d:\tempFileDir" />
    <add key="supportedImageType" value="jpeg,jpg,png" />
    <add key="Portrait:MinWidth" value="50" />
    <add key="Portrait:MinHeight" value="50" />
    <add key="Portrait:MinRateHeightDivideWidth" value="0.9" />
    <add key="Portrait:MaxRateHeightDivideWidth" value="1.7" />
    <add key="AsposeText" value="Evaluation Only. Created with Aspose.Words. Copyright 2003-2014 Aspose Pty Ltd." />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
   
    <!--Host WCF Service相关配置-->
    
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="DocumentExtract.svc" service="Baza.DocumentExtractService.ExtractService" factory="Baza.ServiceModel.InternalServiceFactory" />
        <add relativeAddress="DocumentExtract2.svc" service="Baza.DocumentExtractService.DocumentExtractService" factory="Baza.ServiceModel.InternalServiceFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:10818/DocumentExtractService" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1024" maxConcurrentInstances="1024" maxConcurrentSessions="1024" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
      
    <!--对外提供的Service-->
    <services>
      <service behaviorConfiguration="Default" name="Baza.DocumentExtractService.DocumentExtractService">
        <endpoint address="api" binding="webHttpBinding" bindingConfiguration="DefaultWebHttpBinding" behaviorConfiguration="JsonBehavior" contract="Baza.DocumentExtractService.Contract.IDocumentExtractService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:18018" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <webHttpBinding>
        <binding name="DefaultWebHttpBinding" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    
    <client>
    </client>
  </system.serviceModel>
  <runtime>
  </runtime>
</configuration>