<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helloworld</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <font size="6" face="微软雅黑">upload file demo </font><br>
        <input type="file" name="file" /> <input type="submit" value="upload file test" />
    </form>
    <br><br><br><br><br>
    <form action="/helloworld" method="POST" id="hello">
        <font size="6" face="微软雅黑">helloworld</font><br>
        <textarea name="he" form="hello" rows="30" cols="100"></textarea>
        <br><br>
        <input type="submit" value="hello world">
    </form>
</body>
</html>
